* { *
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #C5BA91;
    font-family: Arial, sans-serif;
    width:1440px;
    height: 115px;
   
}
.top-bar {
    width: 1440px;
    height: 118px;
    background-color: #C5BA91;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
    margin-bottom: 15px;
    
    
}
.top-bar img {
    width: 124px;
    height: 94.97px;
    margin-left:35px;
    border-radius: 25px;
    background-color: blanchedalmond;

}
.container {
    width: 1440px;
    height: 650px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 50px; 
  }
  .container img{
    width: 30px;
    height: 30px;

  }
.rectangle {
    width: 140px;
    height: 50px;
    background-color: #74954B; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px; 
    border-radius: 13px;
    margin-top: 10px;
  

}

.bottom-bar{
    width: 1440px;px;
    height: 25px;
    background-color: #C5BA91;
    text-align: left;
    font-size: smaller;
    margin-top:10px;
    margin-bottom: 10px;
}
.bottom-bar img {
    width: 1440px;
    height: 700px;
}

.rectangles {
        mask-position: relative;
        width: 348px;
        height: 147px;
        background-color: rgba(104,90,90,0.7);
        padding: 10px; /* Add padding for space inside the rectangle */
        border-radius: 10px; /* Add rounded corners */
        margin-bottom: 0px; /* Add margin between rectangles */
        margin-left: 40px;
    
}
.rectangle a{
    color:black;
    text-decoration: none;
}
.text-content{
    flex-grow: 1;
}
.rectangles img{
    width:50px;
    height:50px;
    position: absolute;
    top:10px;
    left: 10px;
    width: 50px;
    height: 50px;
}
.column {
    display: flex;
    flex-direction: column;
}

    h8 {
    font-weight: bold;
}

.bold-text {
    color: #74954B;
    font-weight: bold;

}



